@(agendaForm: Form[Agenda], message: String)
@import helper._
@import helper.twitterBootstrap._

@main("Deletar Contato") {
	<!-- Inicio Topo -->
	<div class="barraLogin" id="bar"> 
		<div class="logo">
			<a href="http://www.fumec.br/"><img style="border:none; width:169px; height:57px;" src="@routes.Assets.at("images/logo.png")"></a>
		</div>
		<div class="msgBox">
			<div class="info">Informativo do Sistema:</div>
			<div class="info">@message</div>
			<div class="info">IP do Visitante: <span class="infoSpan"><script>document.write(myIP());</script></span></div>
			<div class="info">Data: <span class="infoSpan"><script>document.write(getData());</script></span></div>
		</div>
	</div>
	<!-- Fim Topo / Inicio Conteudo --> 
	<div class="boxPag">
		<div class="superPag">
			<div class="paginas">
				<h1><span>Deletar Contato</span></h1>
				@helper.form(action = routes.Application.action_delete) {
				<fieldset>
					<table>
						<tr>
							<td>Nome:</td>
							<td>
								@inputText( agendaForm("nome"), 
								'_label -> "", 
								'_help -> "*", 
								'_error -> agendaForm.globalError,
								'size -> 30 )
							</td>
						</tr>
						</table>
						<br>
						<table width="100%">
							<tr>
								<td align="right"><input class="btn" type="submit" name="deletar"
									value="Deletar" /></td>
								<td align="left"><input class="btn" type="reset" name="limpar"
									value="Limpar" /></td>
							</tr>
						</table>
				</fieldset>
				}
				@message
				<br>
				<span class="backIcon"><a href="/"><img style="border:none;" src="@routes.Assets.at("images/back.png")"></a></span>
			</div>
		</div>
	</div>
}