@(title: String)(content: Html)
@import helper._
@import helper.twitterBootstrap._

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="author" content="Joao Paulo Aramuni">
		<meta name="author" content="Rafael Andrade Lott">
	  	<meta name="description" content="Aplicativo Java para Web que utiliza Play Framework 2.0">
	  	
		<title>@title</title>
		
		<!-- Geral -->
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/estilo.css")" />
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
		<!-- Menu Personalizado -->
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jimgMenu.css")" />
		<!-- Caixa de Login -->
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/loginBar.css")" />
		<!-- Font do Google -->
        <link href='http://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css' />
		<!-- Menu -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jimgMenu/jquery.js")" ></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jimgMenu/jquery-easing-1.3.pack.js")" ></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jimgMenu/jquery-easing-compatibility.1.2.pack.js")" ></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jimgMenu/modify.js")" ></script>
		<!-- Login -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/login/login.js")" ></script>
		<!-- Geral -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/funcoes.js")" ></script>

	</head>
<body>
	<!-- Inicio do Conteudo -->
	@content
	<!-- Fim Conteudo / Inicio Rodape -->
	<div class="rodape">
		<div class="boxContact">
				<span class="rodapeIcon1"><a href="http://www.facebook.com/joaopaulo.aramuni/"><img style="border:none;" src="@routes.Assets.at("images/fb.png")"></a></span>
				<span class="rodapeIcon2"><a href="http://www.linkedin.com/pub/joao-paulo-carneiro-aramuni/23/a45/93"><img style="border:none;" src="@routes.Assets.at("images/lk.png")"></a></span>
				<span class="rodapeIcon3"><a href="https://www.facebook.com/rafael.lott/"><img style="border:none;" src="@routes.Assets.at("images/fb.png")"></a></span>
				<span class="rodapeIcon4"><a href="http://br.linkedin.com/pub/rafael-andrade-lott/23/a44/a47"><img style="border:none;" src="@routes.Assets.at("images/lk.png")"></a></span>
		</div>
		<div class="boxDevelop">
			&copy;Developers<br>Jo&atilde;o Paulo C. Aramuni<br>Rafael A. Lott<br>Roberto Jos&eacute;
		</div>
	</div>
	<!-- Fim Rodape -->
</body>
</html>
